*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header-section{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: orange;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-section.blue{
    background-color: darkblue;
    width: 25%;
}

.header-section.yellow{
    background-color: orange;
    color: black;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

span {
    font-family: carter one;
    font-size: 45px;
    color: darkblue;
}

.header-section.blue-end{
    background-color: darkblue;
    width: 25%;
}

/*navigation bar*/

.navigation a{
    display: block;
    padding: 8px 16px;
    background-color: orange;
    color: darkblue;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.navigation a:last-child{
    margin-right: 0;
}

.navigation a:hover{
    background-color: #333;
    color: #fff;
    transition: background-color 0,3s ease;
}

/* Homepage, hero-image and text */

.hero-image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1{
    font-size: 40px;
    line-height: 34px;
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

p{    
    font-size: 30px;
    line-height: 30px;
    color: rgb(2, 2, 43);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    width: 100%;
    background-image: url(../images/beach-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: darkblue;
}

/* about page */

section {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.wrapper {
    max-width: 50rem;
    margin: 150px auto;
    width: 100%;
}

h2 {
    font-size: 300%;
}

.locations {
    position: relative;
}

.locations::after {
    content: '';
    background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

/* second section about page */

.wrapper-two {
    max-width: 50rem;
    margin: 150px auto;
    width: 100%;
}

.day-carers {
    position: relative;
}

.day-carers::after {
    content: '';
    background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    inset: 0;
    transform: skewY(5deg);
    z-index: -1;
}

/* third section about page */

.wrapper-three {
    max-width: 50rem;
    margin: 150px auto;
    width: 100%;
}

.activities {
    position: relative;
}

.activities::after {
    content: '';
    background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}

img {
    max-width: 450px;
    float: left;
    border: 5px solid white;
    border-radius: 10px;
    margin-right: 15px;
}

