header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header-section{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: orange;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-section.blue{
    background-color: darkblue;
    width: 25%;
}

.header-section.yellow{
    background-color: orange;
    color: black;
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

span {
    font-family: carter one;
    font-size: 45px;
    color: darkblue;
}

.header-section.blue-end{
    background-color: darkblue;
    width: 25%;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation a{
    display: block;
    padding: 10px 20px;
    background-color: orange;
    color: darkblue;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.navigation a:last-child{
    margin-right: 0;
}

.navigation a:hover{
    background-color: #333;
    color: #fff;
    transition: background-color 0,3s ease;
}